aclocal.m4
autom4te.cache
compile
config.h.in
config.log
config.status
configure
configure.ac~
depcomp
.git
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
libtool
ltmain.sh
Makefile
Makefile.in
missing
mkinstalldirs
stamp-h1
config.guess
config.sub
